<div class="metadata-field">
  <input readonly class="form-control" fieldtype="<%- type %>" fieldorder="<%- order %>" type="string" value="<%- value %>" calculated="<%- calculated %>" formula="<%- formula %>"></input>
</div>
