<div class="form-group pb-2 pt-3 px-3 m-0 metadata-field-wrapper" fieldname="<%- fieldName %>">
  <%
    var value = metadataField.value;
    var typeString, ionicon;

    switch (metadataField.type) {
    case 'N':
      typeString = 'Number';
      ionicon = 'ion-pound';
      break;
    case 'P':
      typeString = 'Precision';
      ionicon = 'ion-pinpoint';
      break;
    case 'S':
      typeString = 'String';
      ionicon = 'ion-quote';
      break;
    case 'B':
      typeString = 'Boolean';
      ionicon = 'ion-checkmark';
      break;
    case 'F':
      typeString = 'Formula';
      ionicon = 'ion-flash';
      break;
    case 'NL':
      typeString = 'Number List';
      ionicon = 'ion-grid';
      break;
    case 'PL':
      typeString = 'Precision List';
      ionicon = 'ion-grid';
      break;
    default:
      break;
    }
  %>
  <div class="mb-2 btn-group w-100">
    <input class="form-control-plaintext metadata-field-label text-truncate" value="<%- fieldName %>" readonly></input>
    <div class="ml-2">
    </div>
    <div>
      <button class="mr-1 btn rounded-circle btn-light metadata-field-type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="tooltip" data-placement="bottom" title="Change field type" data-container=".metadata-field-wrapper">
        <i class="<%- ionicon %>"></i>
      </button>
      <div class="dropdown-menu metadata-field-type-dropdown">
        <a class="dropdown-item" fieldtype="S" href="#"><i class="ion-quote mr-4"></i>Change to string</a>
        <a class="dropdown-item" fieldtype="N" href="#"><i class="ion-pound mr-4"></i>Change to number</a>
        <a class="dropdown-item" fieldtype="B" href="#"><i class="ion-checkmark mr-4"></i>Change to boolean</a>
        <a class="dropdown-item" fieldtype="P" href="#"><i class="ion-pinpoint mr-4"></i>Change to precision</a>
        <a class="dropdown-item" fieldtype="F" href="#"><i class="ion-flash mr-4"></i>Change to formula</a>
      </div>
    </div>
    <div>
      <button class="btn rounded-circle btn-light metadata-field-more" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="tooltip" data-placement="bottom" title="More actions" data-container=".metadata-field-wrapper">
        <i class="ion-more"></i>
      </button>
      <div class="dropdown-menu metadata-field-actions-dropdown">
        <a class="dropdown-item metadata-field-move-up" href="#"><i class="ion-arrow-up-a mr-4"></i>Move up</a>
        <a class="dropdown-item metadata-field-move-down" href="#"><i class="ion-arrow-down-a mr-4"></i>Move down</a>
        <a class="dropdown-item metadata-field-delete" href="#"><i class="ion-close mr-4"></i>Delete</a>
      </div>
    </div>
  </div>
  <%
    if (metadataField.type.length === 2 && metadataField.type[1] === 'L') {
      if (value.length > 0) {
        value.forEach(function (val, idx, arr) {
  %>
  <%-
          include('shared/metadata-field-repeating.ejs', {
            type: metadataField.type,
            order: metadataField.order,
            value: val
          });
  %>
  <%
        });
      } else {
  %>
  <%-
        include('shared/metadata-field-repeating.ejs', {
          type: metadataField.type,
          order: metadataField.order,
          value: ''
        });
  %>
  <%
      }
    } else {
      if (metadataField.type === 'F') {
        var calculated = metadataField.err || metadataField.calculated;
  %>
  <%-
        include('shared/metadata-field-formula.ejs', {
          type: metadataField.type,
          typeString: typeString,
          calculated: calculated,
          value: calculated,
          formula: encodeURI(metadataField.value),
          order: metadataField.order
        });
  %>
  <%
      } else {
  %>
  <%-
        include('shared/metadata-field-simple.ejs', {
          type: metadataField.type,
          typeString: typeString,
          value: metadataField.value,
          order: metadataField.order
        });
  %>
  <%
      }
    }
  %>
</div>
