<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-light bg-light w-100">
      <a class="navbar-brand" href="/dashboard">Polydesk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/documents">Documents</a>
          </li>
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></input>
          <button type="button" class="btn btn-outline-secondary my-2 my-sm-0">Search</button>
        </form>
        <div class="ml-sm-3 h-100 border-top-0 border-bottom-0 border-right-0 border-left-1 border-secondary border">&nbsp;</div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%- sails.getUrlFor('AuthController.logout') %>">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="jumbotron jumbotron-fluid m-0 px-0 py-4 w-100">
      <div class="container">
        <h1 class="display-4">Documents</h1>
        <p class="lead">
          Browse documents in bulk, by metadata, or in a structured view.
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-2 border border-right-1 border-top-0 border-bottom-0 border-left-0 border-light">
      <a href="/upload" class="btn btn-outline-secondary btn-block">Upload Document</a>
    </div>
    <div class="col-sm-3 border border-right-1 border-top-0 border-bottom-0 border-left-0 border-light">
    </div>
    <div class="col-sm-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Document Name</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <% documents.forEach(function (doc) { %>
            <tr>
              <td>
                <%- doc.id %>
              </td>
              <td>
                <a href="<%- doc.href %>"><%- doc.name %></a>
              </td>
              <td>
                <%- doc.fileType %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
